logs/instanceLog.txt
logs/logicalDeviceLog.txt
logs/applicationLog.txt
logs/physicalDeviceLog.txt
logs/swapchainLog.txt
logs/descriptorLog.txt
logs/renderProcessLog.txt

bins/objModel.exe
bins/modelMSAA.exe
bins/simpleHallway.exe
bins/basicTriangles.exe
bins/simpleTriangle.exe
bins/simpleVertexBuffer.exe
bins/simpleUniformBuffer.exe
bins/simpleTexture.exe

