logs/instanceLog.txt
logs/logicalDeviceLog.txt
logs/applicationLog.txt
logs/physicalDeviceLog.txt
bins/objModel.exe
bins/triangleTex.exe
bins/modelMSAA.exe
bins/simpleHallway.exe
logs/swapchainLog.txt
bins/basicTriangles.exe
bins/simpleTriangle.exe
bins/simpleVertexBuffer.exe
logs/descriptorLog.txt
